
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-chart-pie mr-1"></i>
          Add Ttems
        </h3>
      </div>
      <div class="card-body">
        <div class="tab-content p-0">

          <div class="row">
            <div class="col-md-10">
              <div class="form-group">
                <label for="Name">Item Description</label>
                <input id="ItemDescription" name="ItemDescription" type="text" autocomplete="off" class="form-control"
                  placeholder="Item Description" autocomplete="off" [(ngModel)]="model" [resultFormatter]="formatter"
                  [inputFormatter]="formatterx" [ngbTypeahead]="searchItems" (selectItem)="selectedItem($event)" />

              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="ItemUnit">Item Unit</label>
                <input id="ItemUnit" disabled name="ItemUnit" type="text" autocomplete="off" class="form-control"
                  [(ngModel)]="this.modelItem.Unit.RefDescription" placeholder="ItemUnit" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">

                <label for="accountcodes">Account Codes</label>
                <ng-select [clearable]="false" name="accountcodes" [(ngModel)]="this.details.AccountListId">
                  <ng-option [value]="0" disabled selected>Please Select</ng-option>
                  <ng-option *ngFor="let car of this.AccountCodes" [value]="car.AccountListId">
                    {{car.AccountCode}}
                  </ng-option>
                </ng-select>
              </div>
            </div>

         <div class="col-md-4">
              <div class="form-group">

                <label for="PaymentTypes">PaymentTypes</label>
                <ng-select [clearable]="false" name="PaymentTypes" [(ngModel)]="this.details.PaymentTypeRefId">
                  <ng-option [value]="0" disabled selected>Please Select</ng-option>
                  <ng-option *ngFor="let car of this.PaymentTypes" [value]="car.RefId">
                    {{car.RefDescription}}
                  </ng-option>
                </ng-select>


              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">

                <label for="jobcodes">Job Codes</label>
                <ng-select [clearable]="false" name="jobcodes" [(ngModel)]="this.details.JobRefId">
                  <ng-option [value]="0" disabled selected>Please Select</ng-option>
                  <ng-option *ngFor="let car of this.JobCOdes" [value]="car.RefId">
                    {{car.RefDescription}}
                  </ng-option>
                </ng-select>


              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="poitemQuantity">Quantity</label>

                <input class="form-control" id="poitemQuantity" name="poitemQuantity" placeholder="Quantity" [(ngModel)]="this.details.Qty" numeric decimals="2" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="poUnitpRice">Unit Price</label>
                <input class="form-control" id="poUnitpRice" name="poUnitpRice"  placeholder="UnitpRice" [(ngModel)]="this.details.UnitPrice"  numeric decimals="2"/>
              </div>
            </div>
          </div>




          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="poitemReference">Reference</label>
                <input class="form-control" id="poitemReference" name="poitemReference" type="text" placeholder="Reference" [(ngModel)]="this.details.Reference" />
              </div>
            </div>
          </div>





        </div>
      </div>
    </div>

    <div class="card-footer text-muted">
      <div class="btn-group">
        <button type="button"
        *ngIf="this.modelItem.ItemId>0 && this.details.Qty >0 && this.details.AccountListId >0 && this.details.JobRefId >0 && this.details.UnitPrice >0 && this.details.PaymentTypeRefId >0 "
        (click)="AddITems()" class="btn btn-primary save_button"> Add Item</button>
      </div>
    </div>

  </div>


</div>
