<div class="row">
  <section class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-chart-pie mr-1"></i>
          Sales
        </h3>
      </div>
      <div class="card-body">
        <div class="tab-content p-0">
          <input type="button" value="click" (click)="clickme()" />

        </div>
      </div>
    </div>
  </section>
</div>


<div class="row">
  <section class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-chart-pie mr-1"></i>
          Sales
        </h3>
      </div>
      <div class="card-body">
        <div class="tab-content p-0">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <!-- <ngb-datepicker #d></ngb-datepicker> -->


                <label for="ItemDescription">supplierSearch</label>
                <input id="typeahead-http" type="text" [resultFormatter]="formatter"
                [inputFormatter]="formatterx"
                class="form-control mx-sm-3" [class.is-invalid]="searchFailed"
                 [(ngModel)]="model"  typeaheadOptionField="Name" [ngbTypeahead]="search" placeholder="Wikipedia search" />

                <!-- <input id="supplierSearch" name="supplierSearch" type=" text" class="form-control"
                  placeholder="ItemDescription" /> -->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>

<div class="row">

</div>

<div class="row">
  <section class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-chart-pie mr-1"></i>
          Sales
        </h3>
      </div>
      <div class="card-body">
        <div class="tab-content p-0"></div>
      </div>
    </div>
  </section>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
 <app-supplier></app-supplier>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
