<div class="row">
  <section class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-chart-pie mr-1"></i>

        </h3>
      </div>
      <div class="card-body">
        <div class="tab-content p-0">
          <div>
            <app-search (searchClicked)="setPage($event)" [search]="this.gridOption.searchObject"> </app-search>
            <table class="table ">
              <thead>
                <th>Name</th>
                <th>Caps</th>
                <th>Status</th>
                <th>Remark</th>

                <th>
                  <button class="btn btn-primary ">
                    <span (click)="Add(null)" class="fa fa-plus"></span></button>
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let item of gridOption.datas.pagedItems ; let i = index;" class="table-hover">
                  <td>
                    <input [(ngModel)]="item.Name" id="Name{{ i }}" name="Name{{ i }}" class="form-control" type="text"
                      placeholder="Name" />
                  </td>
                  <td>
                    <input [(ngModel)]="item.Caps" id="Caps{{ i }}" name="CapsName{{ i }}" class="form-control"
                      placeholder="Caps" numeric decimals="2" />
                  </td>

                  <td>
                    <select [(ngModel)]="item.StatusRefId" class="form-control" id="Status{{ i }}" name="Status{{ i }}">
                      <option *ngFor="let j of this.statusList" [ngValue]="j.RefId">
                        {{ j.RefDescription }}
                      </option>
                    </select>


                  </td>
                  <td>

                    <input [(ngModel)]="item.Remarks" id="Remarks{{ i }}" name="Remarks{{ i }}" class="form-control"
                      type="text" placeholder="Remarks" />
                  </td>

                  <td>
                    <button (click)="Save(item)" class="btn btn-primary " data-title="Edit" data-toggle="modal"
                      data-target="#edit">
                      <span class="fa fa-save"></span></button>

                    <!-- <button   (click)="redirectToApprovalUsers(item.ApprovalGroupId)" class="btn btn-primary " >
                      <span class="fa fa-save"></span></button> -->
                  </td>
                </tr>
                <tr *ngIf="this.gridOption.datas.pagedItems==0">
                  <td class="datanotfound" colspan="3">Data not found</td>
                </tr>
              </tbody>
            </table>

            <app-pager (pagedClicked)="setPage($event)" [pagerX]="gridOption"> </app-pager>
            <br /><br />
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
