<div class="row">
  <section class="col-lg-12">
    <div class="card">

      <div class="card-body">
        <div class="tab-content p-0">

          <div *ngIf="!edited">
            <app-search (searchClicked)="setPage($event)" [search]="this.gridOption.searchObject"></app-search>
            <table class="table  ">
              <thead>
                <th>AccountCode</th>
                <th>AccountName</th>
                <th>AccountDescription</th>
                <th>AccountType</th>

                <th>
                  <button (click)="Action(null)" class="btn btn-primary ">
                    <span class="fa fa-plus"></span></button>
                </th>
              </thead>
              <tbody>

                <tr *ngFor="let item of gridOption.datas.pagedItems" class="table-hover">
                  <td>{{ item.AccountCode }}</td>
                  <td>{{ item.AccountName }}</td>
                  <td>{{ item.AccountDescription }}</td>
                  <td>{{ item.AccountType }}</td>

                  <td>
                    <div class="btn-group">
                      <button (click)="Action(item)" class="btn btn-primary  ">
                        <span class="fa fa-edit"></span></button>

                    </div>


                  </td>
                </tr>
                <tr *ngIf="this.gridOption.datas.pagedItems==0">
                  <td class="datanotfound" colspan="7">Data not found</td>
                </tr>
              </tbody>
            </table>

            <br />
            <app-pager (pagedClicked)="setPage($event)" [pagerX]="gridOption"></app-pager>
          </div>

          <form (ngSubmit)="onSubmit(model)" *ngIf="edited" novalidate #heroForm="ngForm">
            <!-- public int AccountListId { get; set; }
            public string AccountCode { get; set; }
            public string AccountName { get; set; }
            public string AccountDescription { get; set; }
            public int AccountTypeId { get; set; }
            public int AccountStatusId { get; set; } -->
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="AccountCode">AccountCode</label>
                  <input id="AccountCode" name="AccountCode" [(ngModel)]="model.AccountCode" type="text"
                    class="form-control" placeholder="AccountCode" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="AccountName">AccountName </label>
                  <input id="AccountName" name="Contact" [(ngModel)]="model.AccountName" type="text"
                    class="form-control" placeholder="AccountName" />
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="AccountDescription">AccountDescription</label>
                  <input id="AccountDescription" name="AccountDescription" [(ngModel)]="model.AccountDescription"
                    type="text" class="form-control" placeholder="AccountDescription" />
                </div>
              </div>

            </div>




            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="AccountTypeId">Type</label>
                  <ng-select name="AccountTypeId" [(ngModel)]="this.model.AccountTypeId">
                    <ng-option *ngFor="let car of this.accountTypeList" [value]="car.RefId">{{car.RefDescription}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="xx">Status</label>
                  <ng-select name="xx" [(ngModel)]="this.model.AccountStatusId">
                    <ng-option *ngFor="let car of this.statusList" [value]="car.RefId">{{car.RefDescription}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>


            <div class="btn-group">
              <button type="submit" class="btn btn-primary save_button"> <span class="fa fa-save"></span> </button>


              <button type="button" (click)="router.navigate(['AccountList']);" class="btn btn-primary back_button"> <span
                  class="fa fa-arrow-left"></span> </button>
            </div>
          </form>


        </div>
      </div>
    </div>
  </section>
</div>
